---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <style>
    .grid {
      width: 60vw;
      margin: auto;
      aspect-ratio: 1 / 1;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(5, 1fr);
      grid-template-areas: "1 2 3 4 5" "6 7 8 9 10" "11 12 13 14 15" "16 17 18 19 20" "21 22 23 24 25";
    }

    .grid-item {
      background-color: #b1b1b1;
      border: 1px solid #ccc;
      padding: 10px;
      font-size: 30px;
      text-align: center;
    }
  </style>
  <body>
    <div class="grid" id="grid-container">
      <div class="grid-item"></div>
      <div class="grid-item"></div>
      <div class="grid-item"></div>
      <div class="grid-item"></div>
      <div class="grid-item"></div>
      <div class="grid-item"></div>
      <div class="grid-item"></div>
      <div class="grid-item"></div>
      <div class="grid-item"></div>
      <div class="grid-item"></div>
      <div class="grid-item"></div>
      <div class="grid-item"></div>
      <div class="grid-item"></div>
      <div class="grid-item"></div>
      <div class="grid-item"></div>
      <div class="grid-item"></div>
      <div class="grid-item"></div>
      <div class="grid-item"></div>
      <div class="grid-item"></div>
      <div class="grid-item"></div>
      <div class="grid-item"></div>
      <div class="grid-item"></div>
      <div class="grid-item"></div>
      <div class="grid-item"></div>
      <div class="grid-item"></div>
    </div>
    <button id="prevButton">Patrón Anterior</button>
    <button id="nextButton">Siguiente Patrón</button>
  </body>
  <script>
    function aleatoryNumbersGroup({ groups, length, groupSizes }) {
      const numbers = [];
      const result = [];

      // Generar una secuencia de números únicos
      for (let i = 1; i <= length; i++) {
        numbers.push(i);
      }

      // Función para obtener un número aleatorio y eliminarlo del arreglo
      function getRandomUniqueNumber() {
        const index = Math.floor(Math.random() * numbers.length);
        return numbers.splice(index, 1)[0];
      }

      // Generar los grupos
      groupSizes.forEach((groupSize) => {
        const group = [];
        for (let j = 0; j < groupSize; j++) {
          group.push(getRandomUniqueNumber());
        }
        result.push(group);
      });

      return result;
    }

    // Ejemplo de uso
    const groups = 3;
    const length = 25;
    const groupSizes = [8, 1, 9];
    let randomGroupIndex = 0;

    const storedColoredCells = JSON.parse(
      localStorage.getItem("storedColoredCells")
    );


    const gridItems = document.querySelectorAll(
      ".grid-item"
    ) as NodeListOf<Element>;

    // a function than take a group of numbers and select them from randomGroups and apply grid area to this element
    function applyGroupToGrid(group, color) {
      group.forEach((number, index) => {
        gridItems[number - 1].style.backgroundColor = color;
      });
    }

    function clearGrid() {
      gridItems.forEach((item) => {
        item.style.backgroundColor = "#b1b1b1";
      });
    }

    const nextButton = document.getElementById("nextButton");
    const prevButton = document.getElementById("prevButton");

    function savePattern(pattern) {
      // Obtener el array existente de celdas coloreadas del localStorage
      const storedColoredCells =
        JSON.parse(localStorage.getItem("storedColoredCells")) || [];

      // Agregar el nuevo objeto de celdas coloreadas al array
      storedColoredCells.push(pattern);

      // Guardar el array actualizado en localStorage
      localStorage.setItem(
        "storedColoredCells",
        JSON.stringify(storedColoredCells)
      );
    }

    nextButton.addEventListener("click", () => {
      const randomGroups = aleatoryNumbersGroup({ groups, length, groupSizes });
      savePattern(randomGroups);
      
      console.log(storedColoredCells.length);
      console.log(randomGroupIndex);
      clearGrid();
      randomGroups.forEach((group, index) => {
        applyGroupToGrid(group, `hsl(${(index * 360) / groups}, 100%, 50%)`);
      });
      // if (randomGroupIndex <  storedColoredCells.length) {
      //   randomGroupIndex++;
      // } else {
      //   randomGroupIndex++;
      // }

      // Incrementar el índice para el siguiente patrón
    });

    prevButton.addEventListener("click", () => {
      // use randomgroupindex to get the pattern from the local storage

      if (storedColoredCells && storedColoredCells.length > 0) {
        console.log(storedColoredCells[randomGroupIndex]);
        clearGrid();
        storedColoredCells[randomGroupIndex].forEach((group, index) => {
          applyGroupToGrid(group, `hsl(${(index * 360) / groups}, 100%, 50%)`);
        });
      }

      console.log(storedColoredCells[index]);
      randomGroupIndex--;
      // Incrementar el índice para el siguiente patrón
    });
  </script>
</html>
